<!DOCTYPE html>
<html>
    <head>
        <title>Announcemenrs</title>
        <style>
            body{
        background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
        background-repeat:no-repeat;
        height:100vh;
   font-family: monospace;
   font-size:x-large;
            }            
</style>
    </head> 
    
    <body>
        <center>
        <div>
            <form method="post" action="/announce">
            <h2>Announc!!</h2>
            <h3 id="dep"><input type="text" name="announcementTitle" placeholder="Title" /></h3>
            <textarea id="des" name="announcementContent" placeholder="Content"></textarea>
            <button type="submit">submit</button>
        </form>
        </div>
    </center>
    </body>
</html>