<!doctype html>
<html>
    <head>
        <title>Dashboard</title>
        <style>
            body{
                width:1000px;
                height: 1000px;
                background-image:  linear-gradient(to top, #b993d6 0%, #8ca6db 100%);
            }
            h1{
               font-size:xx-large;
            }
            #box{
                margin-top:5%;
                width:1200px;
                height: 400px;
                display: flex;  
                flex-wrap: wrap;
                gap:15%;
                display:flex;
                align-items:center;
                justify-content:center;

            }
            p{
                width:100px;
                height:150px;
                font-size:large;
            }
            img{
                width:70px;
                height:70px;
                border-radius:50%;
            }
        </style>
    </head>
    <body>
        <center><h1>Dashboard!</h1></center>
        <div id="box">
           <p id="p1"><span><a href="/sports"><img src="https://tse1.mm.bing.net/th?id=OIP.CL7cOd2hSNIbvVUsL6NL0QHaG_&pid=Api&P=0&h=180"></a></span><br>Sports</p>
           <p id="p2"><a href="/music"><img src="https://tse2.mm.bing.net/th?id=OIP.xcXpgJbM1ybnC04VmbcKiwHaHa&pid=Api&P=0&h=180"></a><br>Music/radio</p>
           <p id="p3"><a href="/club"><img src="https://vectorified.com/images/group-activity-icon-27.png"></a><br>Club activities</p>
           <p id="p4"><a href="/internship"><img src="https://republicantimes.net/wp-content/uploads/2021/06/Internship-Icon.png"></a><br>Internship/Project</p>
           <p id="p5"><a href="/dept_events"><img src="https://www.clipartmax.com/png/small/157-1574545_events-shuttle-service-event-planning-icon-png.png"></a><br></i>Department Events</p>
           <p id="p6"><a href="/off_campus"><img src="https://tse2.mm.bing.net/th?id=OIP.3hthllSXe82EpZuLZf7b0AHaHa&pid=Api&P=0&h=180"></a><br>Off Campus events</p>
           <p id="p7"><a href="/nss"><img src="https://www.freeiconspng.com/uploads/volunteer-icon-14.png"></a><br>NSS/Volunteering</p>
           <p id="p8"><a href="/status"><img src="https://icon-library.com/images/progress-icon/progress-icon-2.jpg"></a><br>Status</p>
        </div>
    </body>
</html>