<!DOCTYPE html>
<html>
    <head>
        <title>HOD announcements</title>
    </head>
    <body>
        <form method="post" action="/announce">
            <label>Title: <input type="text" name="announcementTitle"></label>
            <textarea name="announcementContent"></textarea>
            <button type="submit">Submit Announcement</button>
          </form>
          
    </body>
</html>