<!DOCTYPE html>
<html>
    <head>
        <title>Sports</title>
        <style>
        body{
            background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjZqv3w3BA-FbTOJFk69_e-NNOEgCuVi1rBA&usqp=CAU");
            background-repeat:no-repeat;
            background-size: 1200px 1000px;
        }
        #box{
            width:320px;
            height:475px;
            background-color:white;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content: center;
            gap:7%;
            border-radius:20px;
        }
        #box{
            position:absolute;
            left:15%;
            top:12%;

        }
        #btn{
            width:80px;
            height:40px;
            background-color: blue;
            color:white;
            border-radius: 20px;
        }
        #btn:hover{
            background-color: green;  
        }
    </style>
    </head>
    <body>
     <div id="box">
     <h2>Register form</h2>
     <form method="post" action="/sports">
      <label>Event date:<input type="text" id="date" name="d"></label><hr style="border: 10px solid white; margin: 0;">
      <label>Event time:<input type="text" id="time" name="t"></label><hr style="border: 10px solid white; margin: 0;">
      <label>Event name:<input type="text" id="name" name="n"></label><hr style="border: 10px solid white; margin: 0;">
      <label style="margin-left:-5%">Role:<input type="radio">Player<input type="radio">Supporter</label><hr style="border: 10px solid white; margin: 0;">
      <label>Venue:<input type="venue" name="v"></label><hr style="border: 10px solid white; margin: 0;">
      <label>Description:<input type="text" name="des"></label><hr style="border: 10px solid white; margin: 0;">
      <button type="submit" id="btn">submit</button>
    </form>
     </div>
    </body>
</html>