<!DOCTYPE html>

<html>

    <head>

        <title>status</title>

        <style>

        body{

            background-image:url("https://tse1.mm.bing.net/th?id=OIP.9DOKt4Ztr7SRdnsXfMjxzAHaHa&pid=Api&P=0&h=180");

            background-repeat:no-repeat;

            background-size: 50vw 100vh;

            float: left;

        }
        #box{

            width:320px;

            height:475px;

            background-color:white;

            display:flex;

            flex-direction:column;

            align-items:center;

            justify-content: center;

            gap:7%;

            border-radius:20px;

        }

        #box{

            position:absolute;

            left:65%;

            top:12%;

            background-color: #aecad6;

            background-color: #e3e3e3;

            background-color: #f9c5d1;

            background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);

        }

        #btn{

            width:80px;

            height:40px;

            background-color: blue;

            color:white;

            border-radius: 20px;

        }

        #btn:hover{

            background-color: green;  

        }

    </style>

    </head>

    <body>

     <div id="box">

       <h1 id="result"></h1>

     </div>

    </body>

</html>